.title {
    margin-bottom: 5vh;
    margin-top: 3vh;
    font-size: 1.1rem;
}
.login {
    grid-column-start: left;
    grid-column-end: right-gutter;
    grid-row-start: first;
    grid-row-end: second;
    border: 3px solid #000;
    z-index: 3; 
}
.wrapper {
    width: 100%;
    padding-left: 3vw;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}
.messageInput {
    resize: none;
    min-height: 20vh;
    min-width: 250px;
}
.validation {
    color: red;
}
.nameInput, .emailInput, .messageInput{
    max-width: 40vw;  
}
.btn {
    padding: .5vh 2vw;
    margin-bottom: 3vh;
}
.btn:active {
    top: .25vh;
}
.confirmation {
    grid-column-start: left;
    grid-column-end: right-gutter;
    grid-row-start: first;
    grid-row-end: second;
    background: #fafafa;
    z-index: 4;
    border: 3px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 8vw 5vh 8vw;
}
.confirmedMessage {
    max-width: 300px;
}
.confirmedDone > button {
    min-width: 12vw;
    height: 5vh;
}
.confirmedTitle > button {
    overflow: hidden;
    z-index: 5;
    padding: 0;
    background: #fafafa;
    border: none;
    outline: none;
    cursor: pointer;
    max-width: 25px;
    min-width: 25px;
}
.confirmedTitle {
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.confirmedTitle > h2 {
    margin: 0 auto;
    max-width: 300px;
    margin-right: 2vw;
}
.loginSection {
    z-index: 7;
}
@media only screen and (min-width: 320px) and (max-width: 410px) {
.messageInput {
    min-width: 200px;
}
.nameInput {
    min-width: 150px;
}
.emailInput{
    min-width: 175px;
}
}
@media only screen and (min-width: 600px) {
.login, .confirmation {
    grid-column-end: right;
}
.label > div > textarea {
    min-width: 300px;
}
}
@media only screen and (min-width: 800px) {
.login, .confirmation {
    grid-column-end: right-center;
}
.confirmedTitle > h2 {
    min-width: 225px;
}
}