.grid {
   border: 1px solid red;
   overflow: hidden;
   display: grid;
   background: #fafafa;
   grid-template-columns: [left-gutter] 1fr [left] 3fr [center] 3fr [right] 3fr [right-gutter] 1fr;
   grid-template-rows: [nav] 1fr [header] 2fr [main] auto [footer] auto;
}
.main {
   grid-column-start: left-gutter;
    grid-column-end: -1;
    grid-row-start: main;
    grid-row-end: footer;
    display: grid;
    grid-template-columns: [left-gutter] 1fr [left] 3fr [left-center] 3fr [center]  3fr [right-center] 3fr [right] 3fr [right-gutter] 1fr;
    grid-template-rows: [top-gutter] auto [top-padding] auto [first] auto [second] auto [third] auto [fourth] auto [fifth] auto [sixth] auto [seventh] auto;
    grid-gap: 30px;
    min-width: 90vw;
    border: 1px solid red;
}