
.navWrapper {
    line-height: 1.15;
   display: flex;
   justify-content: space-between;
   box-shadow: 0px .5px black;
   position: relative;
   top: 0;
   max-height: 13vh;
   z-index: 5;
   background-color: #fafafa;
   width: 100%;
}
.navWrapper > .leftsideNav {
    color: #212121;
   margin: 4vh 1vw 3vh 7vw;
   min-width: 20vw;
   max-width: 20vw;
   min-height: 7vh;
}
.navWrapper > .rightsideNav {
   font-size: .9rem;
   text-align: justify;

   height: 5vh;   

}
.navList > li {
   text-align: center;

}
.navList > li:active {
   top: .5vh;
   left: .25vw;
   box-shadow: none;
}
.navList > li > a {

    margin: auto 1vw;
  position: relative;
  box-shadow: lightgrey 2px 4px 7px;
  padding-right: 10vw;
    display: block;
    min-width: 10vw;
    padding: 3vh 1vw;
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px lightgray;
}
.navList > li > a:active {
    top: .5vh;
    left: .25vw;
   
        -webkit-box-shadow: inset 0px 0px 5px lightgrey;
        -moz-box-shadow: inset 0px 0px 5px lightgrey;
        box-shadow: inset 0px 0px 5px lightgrey;
      
}

.navList {
    
   list-style-type: none;
   min-height: 8vh;
   padding: 0;

}
.listItems {
    padding-top: 3vh;
    background: #fafafa;
  

}
.hamburger > img {
    z-index: 5;
    min-height: 5vh;
    max-height: 5vh;
    cursor: pointer;
   
}
.dropDown > img {
    z-index: 5;
    min-height: 5vh;
    max-height: 5vh;
    cursor: pointer;
}


.mobileListItems {
    padding-top: 10vh;
    min-height: 80vh;
    background: #fafafa;
}
.mobileNavList {
margin: 0;
padding: 0;

}
.mobileNavList > li {
    text-align: center;
    margin: 3vh auto;
    background: white;
 }
 .mobileNavList > li:active {
    top: .5vh;
    left: .25vw;
    box-shadow: none;
 }
 .mobileNavList > li > a {
     margin: auto 1vw;
   position: relative;
 
   border: 1px solid lightgray;
     display: block;
     min-width: 60vw;
     padding: 3vh 1vw;
     text-decoration: none;
    
     color: black;
     text-shadow: 1px 1px lightgray;
 }
 .mobileNavList > li > a:active {
     top: .5vh;
     left: .25vw;
    
         -webkit-box-shadow: inset 0px 0px 5px lightgrey;
         -moz-box-shadow: inset 0px 0px 5px lightgrey;
         box-shadow: inset 0px 0px 5px lightgrey;
       
 }
 
 .mobileNavList {
    list-style-type: none;
    min-height: 8vh;
    padding-top: 1vh;  
 }
.mobileNav {
    
   display: inline;
   margin-right: 5vw;
    max-height: 5vh;
    position: absolute;
    right: 5vw;
    top: 4vh;
   
}


@media only screen and (min-width: 320px) and (max-width: 410px) {
 
    .navWrapper > .leftsideNav {
      font-size: .9rem;
      min-width: 25vw;
  }
.mobileNav {
  right: 8vw;
}
}

@media only screen and (max-width: 768px) {
    .navWrapper > .rightsideNav > .listItems {
        display: none;
        position: relative;
        top: 10vh;
    }
  
    .navList > li {
        font-size: 1rem;
        margin-bottom: 4vh;

       
    }
   
}
@media only screen and (min-width: 768px) {
  .navList > li {
      display: inline-block;
      z-index: 5;
  
 
   
  }

.hamburger {
    display: none;
}

  .navWrapper {
    overflow: hidden;
}

  .navList > li > a {
    position: relative;
  
       box-shadow: lightgrey 2px 4px 7px;
       border: 1px solid black;
         display: inline;
         min-width: 12.5vw;
         padding: 3vh 1vw;
  }
  .listItems {
      display: inline-block;
  
  }




}