.headerPictureWrapper {
    background: linear-gradient(to top left, #03aefd, #006666 );
    display: flex;
    align-content: center;
    justify-content: center;
    grid-column: span 5;
    grid-row-start: header;
    grid-row-end: main;
}
.headerBorder {
   margin: auto 0;
}
.headerTitle {
    color: #fafafa;
    display: inline;
    font-size: 1.85rem;
    text-shadow: 1px 1px black;
    position: relative;
    bottom: 2vh;
    z-index: 4;
    font-family: sans-serif, Arial, Helvetica;
 }
