
.waveContainer {
    position: relative;
    transform: rotate(180deg);
    background: #2c3e50;
    height: 30vh;
    z-index: -1;
    width: 100vw;
    top: 5vh;

}
.wave {
    position: absolute;
    height: 70px;
    min-width: 100%;    bottom: 30vh;
    background: #2c3e50;
    bottom: 0;
}
.wave::before, .wave::after {
    
content: '';
display: block;
position: absolute;
border-radius: 100% 50%;

}
.wave::before {
    width: 55%;
    height: 109%;
    background-color: #fafafa;
    right: -1.5%;
    top: 60%;

}

.wave::after {
    width: 55%;
    height: 100%;
    background-color: #2c3e50;
    left: -1.5%;
    top: 40%;

}
.footerContainer {
    line-height: 1;
   min-height: 30vh;
   margin-top: 0vh;
   position: relative;
   bottom: 25vh;

}

footer {
    max-height: 30vh;
    min-width: 100%;

    background-color: #fafafa;
    position: relative;
    z-index: -2;
overflow: hidden;
}

.footerTop {
    display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}
.leftSideFooter {

    position: relative;
    top: 3vh;
    left: 4vw;

}
.leftSideFooter > div {
    margin-left: 1vw;
    min-width: 15vw;

}
.leftSideFooter > div > h4 {
   margin: 1vh 0 auto 0;;
   color: white;
   text-shadow: 1px 1px black;
   font-family: sans-serif, Arial, Helvetica;

}
.rightSideFooter > h4 {
   color: white;
   text-shadow: 1px 1px black;
   font-family: sans-serif, Arial, Helvetica;
   margin: 2vh 0;

}
.rightSideFooter {
  
    position: relative;
    bottom: 2vh;
    right: 6vw;
    min-width: 10vw;
    max-width: 25vw;
}
.flaticon {
    max-width: 20vw;
   position: relative;
   margin-top: 7.5vh;
   
   bottom: 4vh;
   right: 0vw;
}
.flaticon, .flaticon > div > a {
   
   color: white;
   font-size: .7rem;
}
.footerBottom {
text-align: center;
position: relative;


}
.footerBottom >  ul {
   list-style-type: none;
   color: white;
   text-shadow: 1px 1px black;
    margin: 0 auto;

   padding: 0;
}
.footerBottom > ul > li > a {
   color: white;
   font-size: .9rem;
   margin-right: 1vw;
   
}
.footerBottom > ul > li {
   display: inline;
  
}
@media only screen and (min-width: 320px) and (max-width: 450px) {
 
    .container {
        top: 32vh;
    }
   .leftSideFooter > div > h4 {
       margin-top: 8vh;
       font-size: .95rem;
    
   }
   .rightSideFooter {
      top: 3vh;
     
     max-width: 30vw;
   }
   .rightSideFooter > h4 {
       font-size: .95rem;
      display: inline;
     
   }
   .flaticon {
       bottom: 3vh;
     
       max-width: 25vw;
      
   }
   .footerBottom {
       top: 7vh;
   }
   .footerBottom > ul > li > a {
       font-size: .9rem;
       
   }
   
}