/* INITIALIZERS + DEFAULTS
 * ============================== */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,body {
	position:relative;
	overflow-x:hidden;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;

}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}
input, select {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}




/* BASE APP
  * ============================== */

.App__header {
	background-image: linear-gradient(to top left, #990033, #006666 );
	background-size: cover;
	color: #fafafa;
	padding: 0px 10px;
}
.App__nav {
	width: 100%;
	list-style: none;
}
.App__customer-actions {
	float: left;
	padding: 10px;
}

.App__title {
	padding: 80px 20px;
	text-align: center;
}
.mainHomeButton {
	color: white;
	background: rgb(6, 85, 6);
	padding: 1vh 2vw;
	position: relative;
	left: 5vw;
	top: 2vh;
	z-index: 6;
	
}
.App__view-cart-wrapper {
	float: right;
}

.App__view-cart-wrapper2 {
	position: relative;
	
	bottom: 0vh;
	right: 24vw;
	
	display: flex;
	justify-content: flex-end;

	
}

.App__view-cart {
	
	font-size: 45px;
	border: none;
	background: none;
	cursor: pointer;
	color: #161616;
}

.button {
	background-color: #2752ff;
	color: white;
	border: none;
	font-size: 1.2rem;
	padding: 10px 17px;
	cursor: pointer;
}

.button:hover,
.button:focus {
	background-color: #222222;
}

.button:disabled {
	background: #bfbfbf;
	cursor: not-allowed;
}

.login {
	font-size: 1.2rem;
	color: #b8b8b8;
	cursor: pointer;
}

.login:hover {
	color: white;
}

.Flash__message-wrapper {
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	align-items: flex-end;
	justify-content: center;
	position: fixed;
	bottom: 0;
	pointer-events: none;
	z-index: 227;
	left: 50%;
	transform: translateX(-50%);
}

.Flash__message {
	background: rgba(0, 0, 0, 0.88);
	border-radius: 3px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	color: #ffffff;
	cursor: default;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: none;
	pointer-events: auto;
	position: relative;
	font-size: 20px;
	line-height: 28px;
	font-weight: 400;
	padding: 10px 20px;
	margin: 0;
}

.Flash__message--open {
	display: flex;
}

/* CART
  * ============================== */
.Cart {
	position: absolute;
	top: 0vh;
	right: 0;
	height: 80vh;
	width: 85vw;
	background-color: white;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	border-left: 1px solid #e5e5e5;
	transform: translateX(100%);
	transition: transform 0.15s ease-in-out;
	
}

.Cart--open {
	transform: translateX(0);
	
	overflow-x: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto 0vw;
}
.Cart__close {
	
	position: absolute;
	right: 9vw;
	bottom: 21vh;
	font-size: 35px;
	color: #999;
	border: none;
	background: transparent;
	transition: transform 100ms ease;
	cursor: pointer;
}
.cartCounterWrapper {
	text-align: center;
	position: relative;
	border-radius: 100%;
	width: 5vw;
	height: auto;
	left: 8vw;
	bottom: 5vw;
	background: blue;
}
.cartCounter {
	font-size: 1.2rem;
	text-shadow: 1px 1px #161616;
	color: #fafafa;
	
}
.Cart__header {
	
	position: relative;
	padding: 35px;
	min-width: 80vw;
	border-bottom: 1px solid #e5e5e5;
	flex: 0 0 auto;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.titleWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.titleWrapper > h2 {
	margin-right: 15vw;
}
.clearButton {
	max-height: 5vh;
}
.Cart__line-items {
	flex: 1 0 auto;
	margin: 0 auto;
	padding: 20px;
	max-width: 80vw;
	max-height: 25vh;
	overflow-y: scroll;
	border: 1px solid lightgray;
	
}

.Cart__footer {
	max-width: 85vw;

	padding: 20px;
	border-top: 1px solid #e5e5e5;
	flex: 0 0 auto;
}

.Cart__checkout {
	width: 75vw;
	margin-top: 20px;
	
	
}

.Cart-info {
	padding: 0px 20px 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.Cart-info__total {
	
	text-transform: uppercase;
	
}

.Cart-info__small {
	font-size: 11px;
}

.Cart-info__pricing {
	
	
	margin-right: 15vw;
}

.pricing {
	margin-left: 5px;
	font-size: 16px;
	color: black;
}

/* LINE ITEMS
  * ============================== */
.Line-item {
	margin-bottom: 0px;
	overflow: hidden;
	backface-visibility: visible;
	min-height: 65px;
	position: relative;
	opacity: 1;
	transition: opacity 0.2s ease-in-out;
}
.lineItemDiv {
	
	margin: 1vh 0;
	padding-bottom: 1vh;
}
.Line-item__img {
	width: 65px;
	height: 65px;
	border-radius: 3px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #e5e5e5;
	position: absolute;
}

.Line-item__content {
	width: 100%;
	padding-left: 75px;
	
}

.Line-item__content-row {
	display: inline-block;
	width: 100%;
	margin-bottom: 5px;
	position: relative;
}

.Line-item__variant-title {
	float: right;
	font-weight: bold;
	font-size: 11px;
	line-height: 17px;
	color: #767676;
}

.Line-item__title {
	color: #4e5665;
	font-size: 15px;
	font-weight: 400;
}

.Line-item__price {
	line-height: 23px;
	float: right;
	font-weight: bold;
	font-size: 15px;
	margin-right: 40px;
}

.Line-item__quantity-container {
	border: 1px solid #767676;
	float: left;
	border-radius: 3px;
}

.Line-item__quantity-update {
	color: #767676;
	display: block;
	float: left;
	height: 21px;
	line-height: 16px;
	font-family: monospace;
	width: 25px;
	padding: 0;
	border: none;
	background: transparent;
	box-shadow: none;
	cursor: pointer;
	font-size: 18px;
	text-align: center;
}

.Line-item__quantity-update-form {
	display: inline;
}

.Line-item__quantity {
	color: black;
	width: 38px;
	height: 21px;
	line-height: 23px;
	font-size: 15px;
	border: none;
	text-align: center;
	-moz-appearance: textfield;
	background: transparent;
	border-left: 1px solid #767676;
	border-right: 1px solid #767676;
	display: block;
	float: left;
	padding: 0;
	border-radius: 0;
}

.Line-item__remove {
	position: absolute;
	right: 0;
	top: 0;
	border: 0;
	background: 0;
	font-size: 20px;
	top: -4px;
	opacity: 0.5;
}

.Line-item__remove:hover {
	opacity: 1;
	cursor: pointer;
}

/* PRODUCTS
  * ============================== */
.Product {
	flex: 0 1 31%;
	min-width: 45vw;
	margin-bottom: 4vh;
	max-height: 45vh;
	display: flex;
	flex-direction: column;
}
.Product-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content:space-evenly;
	margin: auto 2vw;
	z-index: -1;
}
.Product > img {
	margin-bottom: 2vh;
	width: 200px;
	
}
.Product__Info {
	display: flex;
	flex-direction: column;
	justify-content:space-evenly;
	max-height: 15vh;
	padding-top: 5vh;
	margin-top: 1vh;
}
.Product__vendor {
	 color: rgb(112, 112, 112);
	 font-weight: 500;
}
.Product__title {
	font-size: 1rem;
	margin-bottom: 1vh;
	font-weight: 500;
	text-align: left;
	white-space:nowrap;

}
.Product__review {
	position: relative;
	bottom: 3vh;
}
.Product__price {	
	font-size: 1.5rem;
	font-weight: 600;
	position: relative;
	bottom: 2.5vh;
}
.Product__option {
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

.Product__quantity {
	display: block;
	width: 15%;
	margin-bottom: 10px;
}
.Product__buy {
	background: rgba(255, 255, 255, 0.1);
	position: relative;
	bottom: 42vh;
	left: 0;
	width: 100%;
	min-height: 100%;
	
}
.Product__buy:hover, .Product__buy:focus {
	background: rgba(255, 255, 255, 0.1);
	outline: none;
}
@media only screen and (min-width: 450px) {
	.Product {
		min-width: 200px;
		max-width: 200px;
	}
}
@media only screen and (min-width: 800px) {
	.Product {
		margin: 0 2.80vw;
	}
	.Product-wrapper {
		max-width: 775px;
		margin: 0 auto;
	}
}
/* SINGLE PRODUCT VIEW
	* ============================== */
.Product-wrapper2 {
	min-width: 100vw;
	max-width: 900px;
	margin: 0vh auto 0;
	justify-content: center;
	align-items: center;
}
.optionsWrapper{
	margin: 3vh 5vw;
	
}
.qtyLabel {
	position: relative;
	top: 2vh;
}
.Images {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	
	margin: 0 auto;
	position: relative;
	
	/* width: 20%; */
}

.leftButton {
	cursor: pointer;
	outline: none;
	border-radius: 100px;
	background: white;
	font-size: 1.5rem;
	position: relative;
	right: 0vw;
	
}
.rightButton {
	cursor: pointer;
	outline: none;
	border-radius: 100px;
	background: white;
	font-size: 1.5rem;
	position: relative;
	left: 0vw;
	
}
.downArrow {
	cursor: pointer;
	position: relative;
	bottom: 6vh;
	right: 8vw;
	font-size: 1.75rem;
	transform: rotate(180deg);
}
.linkColor {
	color: white;
	
	
}
.searchBar {
	position: relative;
	bottom: 14vh;
	left: 25%;
}
.homeButtonWrapper {
	width: 100vw;
	height: 8vh;
	position: absolute;
	border-top: 1px solid lightgray;
	top: 14vh;
	background: white;
	z-index: 4;
}
.homeButton {
	background: rgb(6, 85, 6);
	min-width: 36vw;
	max-width: 36vw;
	min-height: 5vh;
	color: #fafafa;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: 1.5vh;
	left: 3vw;
	z-index: 6;
	
}
.homeButton:hover {
	background: rgb(9, 119, 9);
	
}
.Product__description {
	font-size: 20px;
	margin: auto 0 auto 10vw;
}

.Product__title2 {
	font-size: 30px;
	margin-top: 4vh;
}

.Product__info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.quantity {
	background: linear-gradient(to bottom, #fafafa, rgb(230, 228, 228));
	min-height: 7vh;
	min-width: 86vw;
	border-radius: 5px;
	margin: 2vh 0;
	border: 1px solid rgb(24, 24, 24);
}
#prodOptions {
	background: linear-gradient(to bottom, #fafafa, rgb(230, 228, 228));
	height: 7vh;
	width: 86vw;
	border-radius: 5px;
	margin: auto 0;
	border: 1px solid rgb(24, 24, 24);
	cursor: pointer;
}

.prodBuy {
	border-radius: 15px;
	min-width: 86vw;
}
/* CUSTOMER AUTH
  * ============================== */
.CustomerAuth {
	background: #2a2c2e;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0;
	padding: 0 0 65px;
	top: 0;
	width: 100%;
	text-align: center;
	color: #fff;
	transition: opacity 150ms;
	opacity: 1;
	visibility: visible;
	z-index: 1000;
	position: fixed;
}

.CustomerAuth--open {
	display: block;
}

.CustomerAuth__close {
	position: absolute;
	right: 9px;
	top: 8px;
	font-size: 35px;
	color: #999;
	border: none;
	background: transparent;
	transition: transform 100ms ease;
	cursor: pointer;
}

.CustomerAuth__body {
	padding: 130px 30px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	position: relative;
}

.CustomerAuth__heading {
	font-size: 24px;
	font-weight: 500;
	padding-bottom: 15px;
}

.CustomerAuth__credential {
	display: block;
	position: relative;
	margin-bottom: 15px;
	border-radius: 3px;
}

.CustomerAuth__input {
	height: 60px;
	padding: 24px 10px 20px;
	border: 0px;
	font-size: 18px;
	background: #fff;
	width: 100%;
}

.CustomerAuth__submit {
	float: right;
}

.error {
	display: block;
	font-size: 15px;
	padding: 10px;
	position: relative;
	min-height: 2.64286em;
	background: #fbefee;
	color: #c23628;
}
