.headerPictureWrapper {
    background-image:  linear-gradient(to left, #790229, #014242 );
    display: flex;
    align-content: center;
    justify-content: center;
    grid-column: span 5;
   margin-top: 6vh;
   min-width: 100vw;
}
.headerBorder {
   margin: auto 0;
}
.headerTitle {
    color: #fafafa;
    display: inline;
    font-size: 1.85rem;
    text-shadow: 1px 1px black;
    position: relative;
    bottom: 1vh;
    z-index: 4;
    font-family: sans-serif, Arial, Helvetica;
 }
