
.firstTransition {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 75vh;
    background-image: linear-gradient(to top left, #990033, #006666 );
    z-index: 2;
    transform: skewY(6deg);
    transform-origin: top-right;
}

.firstSectionOverlay {
    background-color: rgba(0,0,0,.25);

   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 75vh;
 
    z-index: 3;
    transform: skewY(6deg);
    transform-origin: top-right;
}

.headerPictureWrapper {

    min-height: 75vh;
 
    margin: auto 7.5vw;
 
 }
 .headerBorder {
    min-height: 50vh;
   
}
.headerTitle > span {
    display: block;
    position: relative;
    z-index: 4;
   
}

.headerTitle {
   color: #fafafa;
   display: inline;
   font-size: 1.5em;
   text-shadow: 1px 1px black;
   min-width: 60vw;
   max-height: 6vh;
   position: relative;
   z-index: 4;
   top: 10vh;
   font-family: sans-serif, Arial, Helvetica;
  
}

.headerText {
    color: #ECECEC;
    display: block;
    font-size: 1.25rem;
    font-weight: normal;
    text-shadow: 1px 1px black;
    z-index: 4;
    position: relative;
 
    left: 0%;
    overflow: hidden;
    top: 15vh;
    white-space: nowrap;
    
 
 }
 @media only screen and (min-width: 320px) and (max-width: 450px) {
 
 
    .headerBorder {
        min-width: 85vw;
    }
    .headerTitle {
        font-size: 1.2rem;
  
    }
    .headerText {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 768px) {


    .headerTitle > span {
      display: inline;
  }
  
  
  }