
.mainWrapper {
    min-height: 100vh;
    background: #fafafa;
    line-height: 1;
 }
 
 
 .firstSectionWrapper {
     margin: auto 9vw;
 }
 .firstSectionGraphic {
    position: relative;
 
     max-width: 22.5vw;
    top: 0vh;
    left: 0vw;
 }
 .firstSectionTitle {
    max-height: 25vh;
 display: flex;
 justify-content: space-between;
 
 }
 .firstSectionTitle > h3 {
    
     font-size: 1.4rem;
     margin: auto 0;
     
     color: #1a1a1a;
     max-width: 60vw;
     text-shadow: 1px 1px lightgray;
 }
 
 
 .firstSectionText {
    
  position: relative;
    text-shadow: 1px 1px lightgray;
    font-size: 1.05rem;
    line-height: 3.5vh;
    max-width: 75vw;
     left: 0;
     margin-top: 7vh;
     color: #1a1a1a;
   
 }
 .secondSection {
    
    padding-bottom: 15vh;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 1px 1px lightgray;
 }
 .secondSection > div > .firstGraphic {
    position: relative;
    top: 1vh;
 
 }
 .secondSection > div > img {
    max-width: 9vw;
    min-height: 7vh;
    position: relative;
    top: 1vh;
    margin: 0 auto;
 }
 .secondSection > div {
    margin: 7.5vh auto;
    min-width: 50vw;
    margin-bottom: 0;
    text-align: center;
    max-width: 50vw;
   
    border: 1px solid lightgray;
    border-radius: 5%;
    box-shadow: 1px 1px 8px 2px gray;
    background: white;
 }
 .FirstTitle, .SecondTitle, .ThirdTitle {
     font-size: 1.15rem;
   margin: 2vh auto;
    position: relative;
    bottom: 0vh;
    color: #1a1a1a;
 }
 .secondSection > div > p {
     color: #1a1a1a;
   margin: 5vh 4.5vw 0 4.5vw;
   min-width: 30vw;
   position: relative;
    bottom: 3.5vh;
     font-size: .9rem;
     line-height: 1.15;
 }

.secondSection > div > p > span {
    color: #3171b1;
}

@media only screen and (min-width: 320px) and (max-width: 450px) {

    .firstSectionTitle > h3 {
        font-size: 1.3rem;
        margin-left: 6vw;
    }
    .firstSectionText {
        margin-top: 0vh;
    }
      .firstSectionGraphic {
          max-width: 25vw;
      }
      .secondSection {
          padding-bottom: 8vh;
      }
      .secondSection > div {
     
       margin-bottom: 0;
       min-width: 70vw;
       }
     .secondSection > div > img {
         min-width: 12.5vw;
     }
    }
    
    @media only screen and (min-width: 400px) and (max-width: 600px) {
        .firstSectionTitle > h3 {
            font-size: 1.5rem;
            margin-left: 6vw;
        }
    }
    @media only screen and (min-width: 1030px) {
        .firstSectionTitle > h3 {
            left: 0vw;
        }
     
     }
    