.firstSection {
    grid-column-start: left;
    grid-column-end: right-gutter;
    grid-row-start: first;
}
.firstSectionTitle > h3 {
    font-size: 1.6rem;
    color: #1a1a1a;
}
 .firstSectionText {
    font-size: 1.1rem;
    line-height: 1.25;
    margin-top: 7vh;
    color: #1a1a1a;
 }
 .secondSection {
    grid-column-start: left;
    grid-column-end: right-gutter;
    grid-row-start: second;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .secondSection > div > img {
    max-width: 9vw;
    min-height: 7vh;
    position: relative;
    top: 1vh;
    margin: 0 auto;
 }
 .secondSection > div {
    margin: 7.5vh auto;
    margin-bottom: 0;
    text-align: center;
    max-width: 300px;
    height: 100%;
    padding-right: 5vw;
 }
 .FirstTitle {
    text-align: left;
    font-size: 1.3rem;
    margin: 7vh 0 3vh 0;
    color: #1a1a1a;
 }
 .secondSection > div > div {
     margin: 7vh 0 3vh 0;
     max-width: 300px;
 }
 .secondSection > div > div >  p {
    color: #1a1a1a;
    margin: 7vh 0 3vh 0;
    text-align: left;
    min-width: 30vw;
    font-size: 1rem;
    line-height: 1.15;
 }
@media only screen and (min-width: 320px) and (max-width: 410px) {
.firstSectionTitle > h3 {
    font-size: 1.3rem;
}
.firstSectionText {
    margin-top: 4vh;
}
.firstSectionGraphic {
    max-width: 25vw;
}
.secondSection > div > img {
    min-width: 12.5vw;
}
}
@media only screen and (min-width: 668px) {
.firstSection {
    grid-column-end: right;
}
}   
@media only screen and (min-width: 950px) {
.secondSection {
    grid-column-start: left;
    flex-direction: row; 
}
.secondSection > div > div >  p {
    min-width: 25vw;
}
}