 .price > h3 {
    font-family: sans-serif;
    font-size: 2.5rem;
    padding-top: 1vh;
 }
 .priceTitle {
    font-weight: 100;
}
 .dollarsign {
    position: relative;
    bottom: 2.5vh;
    font-size: 1rem;
 }
 .month {
    position: relative;
    font-size: .9rem;
    right: 1vw
 }
.pricingTitle {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    margin: 0vh auto 2vh auto;
    text-align: center;
    position: relative;
    color: #1a1a1a;
}
.pricingSection > div {
    align-items: center;
    border: 1px solid #89cccc;
    margin: 0 auto;
    margin-bottom: 10vh;
    text-align: center;
    width: 275px;
    background: white;
}
.pricingTitle > span:nth-child(1) {
    font-size: 1.5rem;
    background: #89cccc;
    padding: 2vh 0;
}
.pricingTitle > span:nth-child(2) {
    margin-top: 2vh;
    font-size: 1.25rem;
 }
 @media only screen and (min-width: 320px) and (max-width: 410px) {
.pricingSection > div {
    width: 230px;
}
}
@media only screen and (min-width: 500px) {
.pricingSection > div{
    min-width: 300px;
}
}
@media only screen and (min-width: 950px) {
.pricingSection > div {
    margin: auto 1vw;
    min-width: 285px;
}
}