
 .imgWrapper {
    min-width: 7vw;
    max-width: 7vw;
     margin: .5vh 0vw 1vh auto;
 }
 .serviceWrapper {
    max-height: 16vh;
     display: flex;
     flex-direction: column;
     flex-flow: flex-start;
}
 .secondSection > div {
     display: flex;
     flex-direction: row;
     
    margin: 2.5vh 7.5vw;
    min-width: 55vw;
    margin-bottom: 0;
    max-width: 70vw;
   
 }

 .SecondSectionTitle {
   
     font-size: 1rem;
   margin: 1.5vh auto 2vh 1vw;
  text-align: left;
    min-width: 45vw;
    max-height: 4vh;
    position: relative;
    color: #1a1a1a;
 }
 .secondSection > div > div > p {
     color: #1a1a1a;
   margin: 3vh auto 3vh 1vw;
     position: relative;
   text-align: left;
    bottom: 3.5vh;
     font-size: .9rem;
     line-height: 1.15;
 }