
 .imgWrapper {
    min-width: 7vw;
    max-width: 7vw;
     margin: .5vh 0vw 1vh auto;
 }
 .serviceWrapper {
  border: 1px solid red;
    min-width: 70vw;
    
     display: flex;
     flex-direction: column;
     flex-flow: flex-start;
}
 .secondSection > div {
     display: flex;
     flex-direction: row;
     border: 1px solid red;
    margin: 0vh 5vw 2.5vh 5vw;
   
    margin-bottom: 0;
    max-width: 77vw;
   
 }

 .SecondSectionTitle {
  border: 1px solid red;
     font-size: 1.2rem;
   margin: 1.5vh auto 2vh 1vw;
  text-align: left;
    min-width: 65vw;
    max-height: 4vh;
    position: relative;
    color: #1a1a1a;
 }
 .secondSection > div > div > p {
     color: #1a1a1a;
   margin: 3vh auto 0vh 1vw;
     position: relative;
   text-align: left;
    bottom: 3.5vh;
     font-size: 1.1rem;
     line-height: 1.25;
  
 }