.mainWrapper {
    min-height: 100vh;

    margin-bottom: 10vh;

   
 }
 .firstSection {
    padding-top: 10vh;
    padding-bottom: 2vh;
    background: #fafafa;
}

 .firstSectionWrapper {
    
     margin: auto 0vw auto 7.5vw;
 }

 .firstSectionTitle {
    text-align: left;
    margin-left: 3vw;
}
.firstSectionTitle > h3 > span {
    color: rgb(30, 123, 245);
}
 .firstSectionTitle > h3 {
     font-size: 1.6rem;
     margin: auto 0;
     color: #1a1a1a;
     min-width: 60vw;
     text-shadow: 1px 1px lightgray;
     font-family: sans-serif, Arial, Helvetica;
 }
  .firstSectionText {
  position: relative;
    text-shadow: 1px 1px lightgray;
   
    line-height: 1.25;
    min-width: 80vw;
     left: 0;
     margin-top: 7vh;
     color: #1a1a1a;
 }

 .firstSectionList > span > li > span:nth-child(1) {
    font-weight: bold;
    text-align: center;
    font-size: 1.3rem; 
    min-width: 20vw;
    
 }
 .firstSectionList > span > li > span:nth-child(even) {
   margin-left: 1vw;
   margin-top: .75vh;
    margin-bottom: 2.25vh;

 }


 .firstSectionList > span > li {
     display: flex;
     flex-direction: row;
     font-size: 1.1rem;
     min-height: 7vh;
    
 }
.firstSectionList {
   
    text-indent: 1px;
    margin-left: -1px;
}

.secondSection {
    min-height: 30vh;
    padding-top: 2vh;
    align-items: left;
    text-shadow: 1px 1px lightgray;
    background: #fafafa;
  }
 .thirdSection {
        background: #fafafa;
     min-height: 50vh;
    
     min-width: 100%;
 }
 .thirdSectionWrapper {
    margin: auto 0vw auto 7.5vw;
 }
 .thirdSectionTitle > h3 {
    font-size: 1.5rem;
    margin: auto 0;
    color: #1a1a1a;
  
   
    font-family: sans-serif, Arial, Helvetica;
 }
    .thirdSectionText {
  
    position: relative;
      
     font-size: 1.1rem;
      line-height: 3.5vh;
      max-width: 82.5vw;
       left: 0;
       margin-top: 3vh;
       padding-bottom: 3vh;
       color: #1a1a1a;
   }
 @media only screen and (min-width: 320px) and (max-width: 410px) {
 
 .firstSectionTitle > h3 {
     font-size: 1.3rem;
     
 }
 .firstSectionText {
     margin-top: 4vh;
 }
   .firstSectionGraphic {
       max-width: 25vw;
   }
 
   .secondSection > div {
  
    margin-bottom: 0;
    min-width: 60vw;
    }
  .secondSection > div > img {
      min-width: 12.5vw;
  }
 }
 
 
 @media only screen and (min-width: 1030px) {
     .firstSectionTitle > h3 {
         left: 0vw;
     }
  
  }
 